# Dependencies
node_modules/
frontend/node_modules/

# Production builds
dist/
frontend/dist/
bin/
backend/bin/
backend/server.exe
backend/main

# Environment variables
.env
backend/.env

# Temp files & OS
.DS_Store
Thumbs.db
*.log
